select, input[type=text] {
  width: 187px;
}

textarea {
  width: 98%;
  margin-top: 5px;
}

div.gototabconfig {
  width: 100%;
  overflow: hidden;
}

div.gototabmatchurl {
  width: 48%;
  float: left;
}

div.gototabopenurl {
  width: 48%;
  float: right;
  margin-right: 5px;
}

div.textarealabel {
  margin-top: 5px;
  margin-bottom: 0px;
}

table {
  width: 100%;
}

th {
  width: 33%;
}

.key-container {
  margin: 10px 0;
}

.key-container:after {
  content: ' ';
  display: block;
  visibility: none;
  clear: both;
}

.form-actions {
  padding-left: 0;
  padding-right: 0;
}

.del-btn {
  float: right;
  margin-top: 6px;
}
