select, input[type=text] {
  width: 187px;
}

textarea {
  width: 98%;
  margin-top: 5px;
}

table {
  width: 100%;
}
th {
  width: 33%;
}

.key-container {
  margin: 10px 0;
}

.form-actions {
  padding-left: 0;
  padding-right: 0;
}
