@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/chrome-shortkeys\/app\/styles\/main\.scss}line{font-family:\000032}}
textarea {
  width: 100%;
  font-family: monospace;
  padding: 5px;
  font-size: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/chrome-shortkeys\/app\/styles\/main\.scss}line{font-family:\0000310}}
.panel-heading kbd {
  margin-right: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/chrome-shortkeys\/app\/styles\/main\.scss}line{font-family:\0000313}}
.panel-heading a.delete-link {
  color: #d9534f;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/chrome-shortkeys\/app\/styles\/main\.scss}line{font-family:\0000319}}
.CodeMirror-wrap {
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/chrome-shortkeys\/app\/styles\/main\.scss}line{font-family:\0000325}}
a.settings-expander {
  font-size: 30px;
  cursor: pointer;
  display: block;
  margin: 19px auto 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/chrome-shortkeys\/app\/styles\/main\.scss}line{font-family:\0000332}}
label {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/chrome-shortkeys\/app\/styles\/main\.scss}line{font-family:\0000336}}
.nav-tabs {
  margin-bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/chrome-shortkeys\/app\/styles\/main\.scss}line{font-family:\0000340}}
.kbd-input {
  font-family: monospace;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/chrome-shortkeys\/app\/styles\/main\.scss}line{font-family:\0000344}}
.chosen-single {
  height: 32px !important;
  padding-top: 3px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/chrome-shortkeys\/app\/styles\/main\.scss}line{font-family:\0000347}}
.chosen-single div {
  top: 2px !important;
}

/**
 * KEYS.css
 *
 * A simple stylesheet for rendering beautiful keyboard-style elements.
 *
 * Website: http://michaelhue.com/keyscss
 * License: MIT License (see LICENSE.txt)
 */
/* Base style, essential for every key. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/chrome-shortkeys\/app\/styles\/main\.scss}line{font-family:\0000362}}
kbd, .key {
  display: inline;
  display: inline-block;
  min-width: 1em;
  padding: .2em .3em;
  font: normal .85em/1 "Lucida Grande", Lucida, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
  border: none;
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/chrome-shortkeys\/app\/styles\/main\.scss}line{font-family:\0000379}}
kbd[title], .key[title] {
  cursor: help;
}

/* Dark style for display on light background. This is the default style. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/chrome-shortkeys\/app\/styles\/main\.scss}line{font-family:\0000384}}
kbd, kbd.dark, .dark-keys kbd, .key, .key.dark, .dark-keys .key {
  background: #505050;
  background: -moz-linear-gradient(top, #3c3c3c, #505050);
  background: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#505050));
  color: #fafafa;
  text-shadow: -1px -1px 0 #464646;
  -moz-box-shadow: inset 0 0 1px #969696, inset 0 -0.05em 0.4em #505050, 0 0.1em 0 #1e1e1e, 0 0.1em 0.1em rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 1px #969696, inset 0 -0.05em 0.4em #505050, 0 0.1em 0 #1e1e1e, 0 0.1em 0.1em rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 1px #969696, inset 0 -0.05em 0.4em #505050, 0 0.1em 0 #1e1e1e, 0 0.1em 0.1em rgba(0, 0, 0, 0.3);
}

/* Light style for display on dark background. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/chrome-shortkeys\/app\/styles\/main\.scss}line{font-family:\0000396}}
kbd.light, .light-keys kbd, .key.light, .light-keys .key {
  background: #fafafa;
  background: -moz-linear-gradient(top, #d2d2d2, white);
  background: -webkit-gradient(linear, left top, left bottom, from(#d2d2d2), to(white));
  color: #323232;
  text-shadow: 0 0 2px white;
  -moz-box-shadow: inset 0 0 1px white, inset 0 0 0.4em #c8c8c8, 0 0.1em 0 #828282, 0 0.11em 0 rgba(0, 0, 0, 0.4), 0 0.1em 0.11em rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: inset 0 0 1px white, inset 0 0 0.4em #c8c8c8, 0 0.1em 0 #828282, 0 0.11em 0 rgba(0, 0, 0, 0.4), 0 0.1em 0.11em rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 0 1px white, inset 0 0 0.4em #c8c8c8, 0 0.1em 0 #828282, 0 0.11em 0 rgba(0, 0, 0, 0.4), 0 0.1em 0.11em rgba(0, 0, 0, 0.9);
}
