/*
Syntax error: Invalid US-ASCII character "\xC3"
        on line 8 of /Users/mcrittenden/Documents/Code/chrome-shortkeys/app/styles/main.scss

3: /**
4:  * KEYS.css
5:  *
6:  * A simple stylesheet for rendering beautiful keyboard-style elements.
7:  *
8:  * Author:  Michael Hüneburg
9:  * Website: http://michaelhue.com/keyscss
10:  * License: MIT License (see LICENSE.txt)
11:  *\/
12: 
13: /* Base style, essential for every key. *\/

Backtrace:
/Users/mcrittenden/Documents/Code/chrome-shortkeys/app/styles/main.scss:8
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.14/lib/sass/engine.rb:440:in `block in check_encoding!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.14/lib/sass/util.rb:782:in `rescue in block in check_encoding'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.14/lib/sass/util.rb:779:in `block in check_encoding'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.14/lib/sass/util.rb:778:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.14/lib/sass/util.rb:778:in `each_with_index'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.14/lib/sass/util.rb:778:in `check_encoding'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.14/lib/sass/util.rb:832:in `check_sass_encoding'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.14/lib/sass/engine.rb:439:in `check_encoding!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.14/lib/sass/engine.rb:406:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.14/lib/sass/engine.rb:274:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/lib/compass/sass_compiler.rb:40:in `compile!'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/lib/compass/commands/update_project.rb:49:in `perform'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/bin/compass:44:in `call'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
/usr/bin/compass:23:in `load'
/usr/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid US-ASCII character \"\xC3\"\A         on line 8 of /Users/mcrittenden/Documents/Code/chrome-shortkeys/app/styles/main.scss\A \A 3: /**\A 4:  * KEYS.css\A 5:  *\A 6:  * A simple stylesheet for rendering beautiful keyboard-style elements.\A 7:  *\A 8:  * Author:  Michael Hüneburg\A 9:  * Website: http://michaelhue.com/keyscss\A 10:  * License: MIT License (see LICENSE.txt)\A 11:  */\A 12: \A 13: /* Base style, essential for every key. */"; }
