<!doctype html>
<html ng-app>
<head>
  <title>Shortkeys Options</title>
  <script src="../js/jquery.min.js" type="text/javascript"></script>
  <script src="../js/angular.min.js" type="text/javascript"></script>
  <script src="../js/options.js" type="text/javascript"></script>
  <link rel="stylesheet" href="../css/options.css" />
</head>

<body>
  <div class="container">
    <h1>Shortkeys for Chrome</h1>
    <p id="status">Options saved.</p>

    <div ng-controller="OptionsCtrl">

      <table>
        <tr>
          <th>Key binding</th>
          <th>Action</th>
          <th>Active on</th>
        </tr>
      </table>

      <table ng-repeat="key in keys">
        <tr>

          <td>
            <input ng-model="key.key" class="key" placeholder="Key combo" type="text" />
          </td>

          <td>
            <select ng-model="key.action" class="action">
              <optgroup label="Scrolling">
                <option value="top">Scroll to top</option>
                <option value="bottom">Scroll to bottom</option>
                <option value="scrolldown">Scroll down</option>
                <option value="scrolldownmore">Scroll down more</option>
                <option value="scrollup">Scroll up</option>
                <option value="scrollupmore">Scroll up more</option>
              </optgroup>
              <optgroup label="History">
                <option value="back">Go back</option>
                <option value="forward">Go forward</option>
                <option value="reload">Reload page</option>
              </optgroup>
              <optgroup label="Tabs">
                <option value="newtab">New tab</option>
                <option value="closetab">Close tab</option>
                <option value="nexttab">Next tab</option>
                <option value="prevtab">Previous tab</option>
                <option value="firsttab">First tab</option>
                <option value="lasttab">Last tab</option>
              </optgroup>
            </select>
          </td>

          <td>
            <select ng-model="key.blacklist" class="blacklist">
              <option value="false">All sites</option>
              <option value="true">Blacklist some sites</option>
            </select>
          </td>

        </tr>

        <tr>
          <td colspan="3"><textarea ng-show="key.blacklist" ng-model="key.sites" class="sites"></textarea></td>
        </tr>
      </table>

      <div class="buttons">
        <button ng-click="addEmpty()" class="add">+ Add</button>
        <button ng-click="saveKeys()" class="save"><span>&#x2713;</span> Save</button>
      </div> 
    </div>

    <table class="hide keycont">
    </table>


    <a href="#" class="showhelp">Show help</a>
    <div class="help">
      <p>Key combos are zero or more modifiers (<code>ctrl</code>, <code>shift</code>, etc.) plus one regular key (letter keys, number keys, arrow keys, etc), all joined with <code>+</code> signs. Here are a couple examples:</p>
      <ul>
      	<li><code>ctrl+l</code></li>
      	<li><code>shift+h</code></li>
        <li><code>r</code></li>
      	<li><code>ctrl+shift+&#x21d1;+pageup</code></li>
      	<li><code>alt+f7</code></li>
      </ul>
      <p>The following modifiers are available:
      <code>&#x21d1;</code>, <code>shift</code>, <code>option</code>, <code>&#x2325;</code>, <code>alt</code>, <code>ctrl</code>, <code>control</code>, <code>command</code>, and <code>&#x2318;</code>.</p>
      <p>In addition to regular letters, numbers, and punctuation, the following special keys can be used for shortcuts:
      <code>backspace</code>, <code>tab</code>, <code>clear</code>, <code>enter</code>, <code>return</code>, <code>esc</code>, <code>escape</code>, <code>space</code>,
      <code>up</code>, <code>down</code>, <code>left</code>, <code>right</code>, <code>home</code>, <code>end</code>, <code>pageup</code>, <code>pagedown</code>, <code>del</code>, <code>delete</code> and <code>f1</code> through <code>f19</code>.</p>
      <p>Note: key combos are ignored if you're currently focused on a form field. This makes it possible to have shortcuts such as "<code>h</code>" but still be able to type "<code>h</code>" in a form without it triggering the shortcut.</p>
    </div>
  </div>

</body>
</html>
