.select select {
    max-width: 300px !important;
}

.w-full {
    width: 100%;
}

.p-1 {
    padding: 1em;
}

.message img {
    display: block;
    margin: 20px auto;
    box-shadow: 0px 0 10px 4px #dddddd;
}
