---
---

<footer class="footer">
  <a href="/" class="footer-brand">
    <img src="/images/icon_48.png" alt="Shortkeys" />
    Shortkeys
  </a>
  <div class="footer-links">
    <a href="/">Home</a>
    <a href="/packs">Packs</a>
    <a href="https://github.com/crittermike/shortkeys" target="_blank">GitHub</a>
    <a href="/docs">Documentation</a>
  </div>
  <div class="footer-support">
    <a href="https://github.com/sponsors/crittermike" class="support-badge" target="_blank">
      <i class="mdi mdi-heart" style="color:#ef4444"></i> Sponsor
    </a>
    <a href="https://buymeacoffee.com/crittermike" class="support-badge" target="_blank">
      <i class="mdi mdi-coffee" style="color:#f59e0b"></i> Buy me a coffee
    </a>
    <a href="https://chromewebstore.google.com/detail/shortkeys-custom-keyboard/logpjaacgmcbpdkdchjiaagddngobkck/reviews" class="support-badge" target="_blank">
      <i class="mdi mdi-star" style="color:#eab308"></i> Leave a review
    </a>
  </div>
  <p class="footer-copy">
    Shortkeys is free and <a href="https://github.com/crittermike/shortkeys" target="_blank">open source</a>.
    Made by <a href="https://github.com/crittermike" target="_blank">Mike Crittenden</a>.
  </p>
</footer>
